@mixin site-main-content() {
    main.site-main-content {

        img.figures {
            width: 700px; 
            margin: 0 0 -10px 0;
        }

        div.quote {
            padding: 10px;
            margin: 15px 0;
            background-color: rgba(0, 0, 0, .05);
        }

        .with-bottom-border {
            border-left: 2px solid rgba(0, 0, 0, 0.1);
        }

        div.figure-wrapper {
            display: block;
            margin: 30px 0;
            background-color: rgba(0, 0, 0, 1);
            color: #d8d8d8;
            div.figure-caption {
                display: block;
                padding: 2px 10px;
                font-size: $font-size-post-meta;
                font-family: $font-post-meta;
                text-align: right;
                span.website-label {
                    float: left;
                }
                span.caption {
                    clear: right;
                }
            }    
        }
        
        div.post-header {
            display: block !important;
        }
        
        span.web-title {
            font-family: 'Berkshire Swash', cursive;
            font-size: 50px;
            color: $sb-nav-color;

            display: block;

            margin: 50px;
            text-align: center;
        }

        div.welcome-logo {
            margin: 200px auto 250px auto;
            font-size: 200px;
            font-family: 'Amiri', serif; //'Reem Kufi', sans-serif;
            display: block;

            text-align: center;
            transition: all .3s ease-in-out;
        }

        div.welcome-logo:hover {
            color: $sb-nav-color;
        }

        div.home-desc {
            display: block;
        }

        .previous {
            margin: 0 10px 0 0;
        }

        .next {
            margin: 0 0 0 10px;
        }

        .previous-article {
            margin: 0 5px 0 0;
        }

        .next-article {
            margin: 0 0 0 5px;
        }

        button.more-button {
            font-size: 16px;
        }

        a.post-link, h1.post-title {
            font-family: $font-post-title-link;
            font-size: 30px;
            text-decoration:  none;
            color: $sb-bg-color;
        }

        .title-more-margin {
            margin: 50px 0 0 0;
        }

        span.post-meta, time, div.rss-subscribe, div.pagination {
            font-family: $font-post-meta, sans-serif;
            font-size: $font-size-post-meta;
        }

        div.pagination {
            float: right;
        }

        time, div#rss-subscribe-post.rss-subscribe {
            display: inline;
        }

        ul.post-list {
            list-style: none;
            padding: 0;
            li {
                padding: 30px 0;
            }
        }

        div.with-left-border, div.question, div.question-christian, div.reference {
            padding: 10px;
            border-left: 2px solid rgba(0, 0, 0, .1);
        }

        div.with-top-border, div.answer {
            padding: 10px 0 0 0;
            border-top: 2px solid rgba(0, 0, 0, .1);
        }

        div.with-all-border {
            padding: 10px;
            border: 2px solid rgba(0, 0, 0, .1);
        }

        div.reference {
            margin: 0 0 50px 0;
            ol {
                margin: 0;
                padding: 0 0 0 15px;
            }
        }

        div.question-christian {
            ol {
                margin: 0;
                padding: 0 0 0 15px;
            }
        }

        
        span.scenario-label, span.answer-label, span.question-christian-label, span.reference-label, span.investigation-label, span.section-label {
            font-family: $font-post-meta;
            color: #ffffff;
            padding: 2px 7px;
        }

        div.scenario-label-wrapper {
            margin: 0 0 5px 0;
            span.scenario-label {
                background-color: #FF6961;
            }
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        }

        div.answer-label-wrapper {
            margin: 30px 0 0 0;
            span.answer-label {
                background-color: #FFB347;
            }
        }

        div.question-christian-wrapper {
            margin: 30px 0 0 0;
            span.question-christian-label {
                background-color: #966FD6;
            }
        }
        
        div.reference-label-wrapper {
            margin: 20px 0 0 0;
            span.reference-label {
                background-color: #77DD77;
            }
        }

        div.investigation-wrapper {
            margin: 30px 0 0 0;
            span.investigation-label {
                background-color: #779ECB;
            }
        }

        div.section-wrapper {
            margin: 30px 0 0 0;
            span.section-label {
                background-color: $sec-bg-color;
            }
        }
        
        .more-button-wrapper {
            text-align: right;
        }

        .translation {
            font-family: $font-quran-translation;
            display: block;
        }

        div.more-quran-wrapper {
            margin: 15px;
            div.quran-wrapper {
                margin: 0px;
            }    
        }

        div.quran-wrapper, div.bible-wrapper {
            margin: 15px;
            background-color: $quran-bg-color;
        }

        div.quran-verse, div.bible-verse {
            background-color: $quran-bg-color;
            padding: 10px;
        }

        div.verse-no, div.bible-verse-no {
            border-width: 1px;
            width: 100%;
            clear:both;
            color: #ffffff;
            
            font-family: $font-post-meta; 
            text-align: center;

            div.book {
                float: left;
                width: 100px
            }
    
            div.chapter-verse {
                float: right;
                width: 100px;
            }

            div.chapter {
                margin: 0 auto !important;
                width: 300px;
                display:inline-block;
            }
        }

        div.verse-no {
            background-color: $sb-bg-color;
        }

        div.bible-verse-no {
            background-color: $bb-bg-color;
        }
        
        div#more-quran-10-89-93, div#more-quran-3-151, {
            display: none;
            opacity: 0; 
            transform: scaleX(0);
            transition: 1s ease opacity, 1s ease transform;
        }

        .tooltip {
            position: relative;
            display: inline-block;
            // border-bottom: 1px dotted black;
        }
        
        .tooltip .tooltiptext {
            font-family: $font-post-meta;
            font-size: $font-size-post-meta;
            visibility: hidden;
            width: 150px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            line-height: 135%;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
        }
        
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
}