---
layout: post
title:  "Understanding Sampling Distribution"
date:   2018-3-1 1:00:00 +0800
categories: Statistics Distributions Sampling Survey
comments: true
---
Accurate inference of our population from our sample is the main interest of Statistics and Machine Learning.
The goal is to have a random sample that well represents the population, that is, our inference is subject to some tolerable errors. 
Errors in exchange of surveying small number of respondence over censusing the whole population. Having said, 
it is therefore important to understand the concept behind survey sampling to properly interpret the statistical methodologies 
we used (e.g. hypothesis testing), which needless to say, are heavily tied up into these basic concepts. One such concept that we are going to 
tackle in this article is the <b>sampling distribution</b>. Sampling distribution is one of the basis of why survey works.
<p>
    <div class="scenario-label-wrapper">
        <span class="scenario-label">Scenario</span>
    </div>
    Consider the case where we want to estimate the average height of the students in a university. Suppose out of 1500 
    students in the university, we surveyed 100 students only. Suppose further, the sample mean we obtain is 5.456 inches. This is the average 
    height of the students in our random sample. The question is, how do we relate the sampling distribution to our estimate?
    Well the relationship is evident once we do resampling as stated below.
    <div class="quote with-bottom-border">
        In theory, if we were to do resampling from our population infinitely and we take the sample estimate of each resample, 
        the overall mean of these sample estimates will converge to the true parameter.
    </div>
    The distribution of the sample estimates in this case is referred to as the <i>sampling</i> distribution. 
    Therefore, if we extend the scenario and proceed with the resampling from our population, say 15 resamples each of
    size 100 (i.e. 100 samples for each resample), we expect the sample mean of our sampling distribution to converge to the true parameter
    up to some significant values. The following figure is the histogram with empirical density estimate of the possible data we might get.
    <div class="figure-wrapper">
        <img class="figures" src="/assets/images/random_samples.svg"/>
        <div class="figure-caption">
            <span class="website-label">
                العلم
            </span>
            <span class="caption">
                Fig 1: The possible resamples from the population of the height of the students in the university.
            </span>
        </div>
    </div> 
    From the above figure, we can subjectively conclude that the mean of the samples is around 5.5. Indeed, because that's 
    the true parameter we assigned in simulating these datasets. The sample mean of the above resamples are given below:
    <div class="quote" style="text-align:center;">
            5.456, 5.490, 5.511, 5.472, 5.467, 5.531, 5.519, <br> 5.481, 5.507, 5.511, 5.525, 5.521, 5.524, 5.474, 5.486
    </div>

    Using the sampling distribution of these estimates we found out the mean (overall mean) to be 5.498 which is equivalent to 5.5 
    under 0.002 error. Now let's consider the sampling distribution of the sample variance of the above dataset. This time let's
    increase the number of resample to 10,000 and see the corresponding sampling distribution.
    
    <div class="figure-wrapper">
        <img class="figures" src="/assets/images/density_boxplot.svg"/>
        <div class="figure-caption">
            <span class="website-label">
                العلم
            </span>
            <span class="caption">
                Fig 2: Another approach of visualizing the empirical distribution of the sampled datasets.
            </span>
        </div>
    </div> 
</p>